h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  font-style: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Забираємо хрестик у браузерах на основі Webkit (Chrome, Safari) */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Забираємо хрестик у браузерах на основі Firefox */
input[type="search"]::-moz-search-cancel-button {
  display: none;
}

/* Додатково прибираємо для інших браузерів */
input[type="search"] {
  -webkit-appearance: textfield;
}